In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Carregar valores sobre o H1N1
Carrega os dados gerais (casos confirmados e mortes por país) sobre a pandemia do h1n1 (na europa) e coloca-os numa tabela.

In [5]:
#Teste para a data do h1n1
#Infelizmente não há data praticamente nenhuma
url = 'https://en.wikipedia.org/wiki/2009_swine_flu_pandemic_in_Europe'
tables = pd.read_html(url)
h1n1 = tables[0]

h1n1.head(57)
h1n1= h1n1.dropna()
h1n1

,Country,Cases,Deaths
,Country,Laboratory confirmed,Confirmed(Suspected)‡
1,Total,500000,2889
2,Turkey,"12,316[2]",458[2]
3,Russia,"20,838[3]",438[1][3]
4,United Kingdom,"27,464[3]",457[4]
5,Spain,"22,379[1][3]",232[1][3]
6,Ukraine,85[5]1,16[5]1
7,France,"5,126[3]",196[1][3]
8,Italy,"3,593[3]",178[3]
9,Germany,"203,713[3]",122[3]
10,Poland,"2,024[3]",116[3]
11,Greece,"8,768[3]",52[3]
12,Portugal,"156,701[3]",51[3]
13,Netherlands,"1,473[3]",51[3]
14,Serbia,520[3],41[3]
15,Czech Republic,777[3],38[1][3]
16,Hungary,283[3],37[1][3]
17,Finland,"6,122[3]",36[3]
18,Norway,"12,654[3]",29[1][3]
19,Romania,"4,979[1][3]",29[3]
20,Latvia,"1,321[6]",24[3]
21,Bulgaria,766[3],23[1][3]
22,Croatia,526[3],22[3]
23,Denmark,651[3],21[3]
24,Slovakia,171[3],21[3]
25,Ireland,"3,189[3]",20[1][3]
26,Sweden,"2,130[3]",20[1][3]
27,Belarus,102[3],20[3]
28,Moldova,"1,024[3]",15[3]
29,Belgium,"76,973[3]",14[3]
30,Macedonia,"2,600[3]",14[3]
31,Lithuania,68[3],12[3]
32,Slovenia,990[3],11[3]
33,Kosovo,98[3],10[3]
34,Switzerland,"1,550[3]",8[3]
35,Bosnia and Herzegovina,558[3],7[3]
36,Estonia,456[3],7[3]
37,Austria,964[3],5[3]
38,Malta,718[1],5[1]
39,Georgia,604[3],5[3]
40,Albania,310[3],3[3]
41,Iceland,"8,650[3]",2[1][3]
42,Luxembourg,333[3],2[1][3]
43,Cyprus,297[1][3],2[3]
44,Montenegro,119[3],2[3]
45,Armenia,80[3],2[3]
46,Azerbaijan,14[3],2[3]
47,Jersey,234[3],0[3]
48,Isle of Man,75[3],0[3]
49,Akrotiri and Dhekelia,58[3],0[3]
50,Faroe Islands,44[3],0[3]
51,Monaco,36[3],0[3]
52,Guernsey,17[3],0[3]
53,Kazakhstan,17[3],0[3]
54,Liechtenstein,13[3],0[3]
55,San Marino,5[3],0[3]
56,Andorra,1[3],0[3]
57,Summary Number of European countries with conf...,Summary Number of European countries with conf...,Summary Number of European countries with conf...
58,Summary,Summary,Summary

### Carregar valores sobre o Covid19
Carrega os dados sobre a pandemia do covid19 do mundo/europa

In [6]:
import pandas as pd
covid = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
covid = covid.drop(columns=['Province/State', 'Lat',"Long"])
covid.head()
covid

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1026,1092,1176,1279,1351,1463,1531,1703,1828,1939
1,Albania,0,0,0,0,0,0,0,0,0,...,584,609,634,663,678,712,726,736,750,766
2,Algeria,0,0,0,0,0,0,0,0,0,...,2718,2811,2910,3007,3127,3256,3382,3517,3649,3848
3,Andorra,0,0,0,0,0,0,0,0,0,...,717,717,723,723,731,738,738,743,743,743
4,Angola,0,0,0,0,0,0,0,0,0,...,24,24,25,25,25,25,26,27,27,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,France,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,South Sudan,0,0,0,0,0,0,0,0,0,...,4,4,4,5,5,5,6,6,34,34
261,Western Sahara,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,8,8
263,Yemen,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,6

Descobre a data do primeiro caso de cada país, e cria um gráfico com o crescimento do número de casos por pais, desde o primeiro caso

In [7]:
dic = {}
#acceptedCountries = ['Germany', 'Spain']
for row in covid.iloc:
    for i in range(1,100):
        if (row[i] != 0):
            dic[row[0]] = i
            break
            
#countries = df[ i in df['Country/Region'] && i == ["Portugal"] ].index
#dfObj.drop(indexNames , inplace=True)

Relaciona os dois gráficos, descobrindo quanto tempo levou cada país, desde o primeiro caso, a ultrapassar os números do H1N1